* {
    padding: 0;
    margin: 0;
    font-family: 'Manrope', sans-serif;
}

header {
    background-color: black;
}

.container-one {
    max-width: 1140px;
    height: 80px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.nav-logo {
    max-width: 138px;
    display: flex;
    align-items: center;
}

.nav-logo img {
    width: 100%;
}

.nav-link {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.nav-link li {
    padding: 0 20px;
}

.nav-link li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 800;
    cursor: pointer;
}

.link:hover {
    color: #1ed760;
}

.first-sec {
    background: #b22c15;
}

.container-two {
    max-width: 1140px;
    margin: 0 auto;
    padding: 72px 20px;
    display: flex;
    justify-content: space-between;
}

.text {
    color: #fff;
}

.text-one {
    font-size: 14px;
    font-weight: 800;
    line-height: 16px;
    letter-spacing: 1.7px;
    margin-top: 16px;
    margin-bottom: 50px;
}

.text-two {
    font-size: 57px;
    font-weight: 800;
    line-height: 1.25;
    padding-right: 30px;
}

.text-three {
    font-size: 21px;
    line-height: 1.7;
    letter-spacing: 0.95px;
    font-weight: 700;
    padding: 28px 30px 48px 0;
}

.text-four {
    width: fit-content;
    font-size: 13px;
    font-weight: 800;
    background-color: #000;
    letter-spacing: 2.5px;
    padding: 16px 50px;
    border-radius: 500px;
}

.text-four:hover {
    cursor: pointer;
    transform: scale(1.03,1.03);
    transition-duration: 33ms;
}

.image {
    max-width: 400px;
}

.image img {
    width: 100%;
}

.second-sec {
    background: rgb(41, 65, 171);
    color: #1ed760;
    position: relative;
    display: flex;
    justify-content: center;
    height: 600px;
}

.container-three {
    width: 1140px;
    padding: 0 15px;
    position: absolute;
    top: 0;    
}

#image1 {
    width: 100%;
}

#image2 {
    display: none;
}

.ss-text{
    padding: 64px 0;
}

.ss-text-one {
    padding-top: 16px;
    padding-bottom: 32px;
    font-weight: 600;
}

.ss-text-two {
    font-size: 56px;
    font-weight: 800;
    letter-spacing: -2px;
}

.ss-text-three {
    width: 558px;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 1.5px;
    padding-top: 34px;
    padding-bottom: 68px;
}

.ss-text-four {
    width: 275px;
    font-size: 13px;
    font-weight: 800;
}

.ss-text-four span{
    background-color: #1ed760;
    color: rgb(41, 65, 171);
    letter-spacing: 2.5px;
    padding: 16px 50px;
    border-radius: 500px;
}

.ss-text-four:hover {
    cursor: pointer;
    transform: scale(1.03,1.03);
    transition-duration: 33ms;
}

.footer {
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 60px;
}

.container-four {
    width: 1140px;
    margin: 0 auto;
    display: grid;
}

.logo-column {
    padding-left: 15px;
    padding-right: 30px;
    grid-column: 1/2;
}

.logo-column a img {
    width: 132px;
    cursor: pointer;
}

.ft-column {
    padding: 0 15px;
}

.col-one {
    grid-column: 2/3;
}

.ft-dt {
    margin: 20px 0;
    color: #919496;
    font-size: 13px;
    font-weight: 700;
}

.ft-links dd {
    padding-top: 3px;
    padding-bottom: 15px;
}

.ft-links dd a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}

.contacts {
    grid-column: 5/7;
    padding: 20px 15px 0 183px;
}

.contacts span {
    background-color: #222326;
    border-radius: 50%;
    height: 54px;
    width: 54px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 3px;
    cursor: pointer;
}

.contacts span img {
    height: 24px;
} 

@media screen and (max-width: 1200px) {
    .container-one {
        max-width: 940px;
    }
    .container-two {
        max-width: 940px;
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;
        padding-top: 42px;
        padding-bottom: 46px;
    }
    .text-one {
        margin-bottom: 18px;
        text-align: center;
        font-size: 10px;
    }
    .text-two {
        padding-right: 0;
    }
    .image {
        max-width: 940px;
        display: flex;
        justify-content: center;
        margin-top: 58px;
    }
    .container-three {
        max-width: 940px;
    }
    .image img {
        width: 400px;
        height: auto;
    }
    .second-sec {
        height: 600px;
    }
    #image1 {
        display: none;
    }
    #image2 {
        display: block;
    }
    .ss-text div{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ss-text {
        padding-top: 50px;
        text-align: center;
    }
    .ss-text-one {
        font-size: 12px;
        padding-bottom: 90px;
    }
    .ss-text-three {
        width: 100%;
        padding-bottom: 50px;
    }
    .ss-text-four {
        width: 100%;
    }
    .container-four {
        max-width: 940px;
    }
    .logo-column {
        padding-right: 0;
        padding-left: 45px;
    }
    .contacts {
        padding-left: 120px;
        padding-right: 78px;
    }
}

@media screen and (max-width: 992px) {
    .container-one {
        max-width: 720px;
    }
    .container-two {
        max-width: 720px;
    }
    .image img {
        width: 320px;
        height: auto;
    }
    .container-three {
        max-width: 720px;
    }
    .footer {
        padding-top: 40px;
    }
    .container-four {
        max-width: 720px;
    }
    .contacts{
        width: auto;
    }
    .logo-column {
        padding-bottom: 20px;
        padding-left: 15px;
        grid-column: 1/7;
        grid-row: 1/2;
    }
    .logo-column a img {
        width: 90px;
    }
    .col-one {
        grid-column: 1/3;
        grid-row: 2/3;
    }
    .col-two {
        grid-column: 3/5;
        grid-row: 2/3;
    }
    .col-three {
        grid-column: 5/7;
        grid-row: 2/3;
    }
    .contacts {
        grid-column: 1/7;
        grid-row: 3/4;
        padding-left: 15px;
    }
}

@media screen and (max-width: 768px) {
    .container-one {
        height: 50px;
    }
    .nav-logo {
        max-width: 89px;
    }
    .nav-link li a {
        font-size: 12px;
    }
    .text-two {
        font-size: 32px;
    }
    .text-three {
        font-size: 16px;
        padding-right: 0;
    }
    .text-four {
        width: auto;
        background-color: #000;
        padding: 16px 50px;
        border-radius: 500px;
        text-align: center;
    }
    .second-sec {
        height: 480px;
    }
    .container-three {
        position: relative;
    }
    #image2 {
        display: none;
    }
    .ss-text {
        margin-top: 50px;
        padding: 30px 15px 45px 15px;
    }
    .ss-text-one {
        padding-bottom: 32px;
    }
    .ss-text-two {
        font-size: 44px;
    }
    .ss-text-three {
        font-size: 20px;
    }
    .ft-column {
        padding: 20px;
    }
    .logo-column {
        grid-column: 1/7;
        grid-row: 1/2;
    }
    .col-one {
        grid-column: 1/7;
        grid-row: 2/3;
    }
    .col-two {
        grid-column: 1/7;
        grid-row: 3/4;
    }
    .col-three {
        grid-column: 1/7;
        grid-row: 4/5;
    }
    .contacts {
        grid-column: 1/7;
        grid-row: 5/6;
    }
}


@media screen and (max-width: 500px) {
    .nav-link li {
        padding: 0 6px;
    }
    .second-sec {
        height: auto;
    }
    .image img {
        width: 88%;
    }
    .ss-text {
        margin-top: 0;
    }
    .ss-text-two {
        font-size: 30px;
    }
}