* {
    padding: 0;
    margin: 0;
    font-family: "Manrope";
}

.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 130px;
}

.container {
    width: 450px;
}

#su-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    padding-top: 38px;
}

.su-heading {
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
    font-weight: 800;
    line-height: 32px;
    letter-spacing: -1.5px;
    padding-bottom: 46px;
}

.su-fb {
    font-size: 15px;
    font-weight: 800;
    margin-bottom: 35px;
    text-align: center;
}

.su-btn {
    color: #fff;
    background-color: #1877F2;
    padding: 14px 32px;
    line-height: 20px;
    border-radius: 500px;
}

.su-or {
    font-size: 15px;
    text-align: center;
    line-height: 24px;
    letter-spacing: 2px;
    color: rgb(127, 127, 127);
    margin-bottom: 16px;
}

.su-head {
    text-align: center;
    font-size: 17px;
    font-weight: 800;
    padding-bottom: 18px;
}

.su-form div {
    display: flex;
    flex-direction: column;
}

.su-label {
    font-size: 13px;
    font-weight: 800;
    padding-bottom: 8px;
}

.su-label-dob {
    font-size: 13px;
    font-weight: 600;
    padding-bottom: 8px;
}

.su-dob {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
}

.su-dob div {
    display: flex;
    flex-direction: column;
}

/* #month {
    width: 202.5px;
}

#day {
    width: 90px;
}

#year {
    width: 122.5;
} */

.su-input {
    padding-bottom: 24px;
}

.su-box {
    padding: 14px;
    font-size: 15px;
    font-weight: 500;
    border: 0px;
    box-shadow: inset 0 0 0 1px #868686;
    border-radius: 4px;
}

.su-label-text {
    font-size: 13px;
    font-weight: 600;
    padding-left: 12px;
    padding-right: 24px;
}

.circle {
    height: 16px;
    width: 16px;
    position: relative;
    top: 4px;
}

.su-button {
    margin-bottom: 17px;
    display: flex;
    justify-content: center;
}

.su-button a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 800;
    color: #000;
    background-color: #1ed760;
    border-radius: 500px;
    padding: 16px 48px;
}

.su-button a:hover {
    cursor: pointer;
    transform: scale(1.03,1.03);
    transition-duration: 33ms;
}

.su-login {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}

.su-login a {
    text-decoration: none;
    color: rgb(29, 185, 84);
    text-decoration: underline;
}

.su-login a:hover {
    color: #1ed760;
}

@media screen and (max-width: 992px) {
    #su-logo {
        height: 27px;
    }
    .container {
        max-width: 92%;
    }
}

@media screen and (min-width: 450px) {
    #month {
        width: 202.5px;
    }
    
    #day {
        width: 90px;
    }
    
    #year {
        width: 122.5;
    }
}